<template>
  <div class="hello">
    <div class="row">
      <div class="col text-success text-center">
        <strong>WIN: {{status.win}}</strong>
      </div>
      <div class="col text-danger text-center">
        <strong>LOSE: {{status.lose}}</strong>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col">
        <div>
          <img class="rounded" :src="'static/flag/' + this.flag.country_code + '.png'" width="100%">
        </div>
        <br>
        <div class="list-group">
          <a 
            v-for="option in options" 
            @click="checkFlag(option.code)" 
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            :class="[option.true && selected ? 'list-group-item-success' : '']"
          >
            {{option.name}}

            <span 
              v-if="selected" 
              class="badge badge-pill"
              :class="[!option.true && selected ? 'badge-danger' : 'badge-success']"
            >
              <i v-if="option.true && selected" class="fa fa-check" aria-hidden="true"></i> 
              <i v-if="!option.true && selected" class="fa fa-times" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        
        <br v-if="selected">
        <button v-if="selected" @click="selectFlag()" type="button" class="btn btn-block btn-primary">Continue</button>
      </div>
    </div>
  </div>
</template>

<script>
import Flags from '@/assets/countries.json'

export default {
  name: 'HelloWorld',
  data () {
    return {
      flag: null,
      options: [],
      flags: Flags,
      selected: false,
      status: {
        win: 0,
        lose: 0
      }
    }
  },

  created: function () {
    this.selectFlag()
  },

  methods: {
    selectFlag: function () {
      this.selected = false
      this.options = []

      this.flag = this.flags[Math.floor(Math.random() * this.flags.length)]
      this.options.push({
        'code': this.flag.country_code,
        'name': this.flag.country_name,
        'true': true
      })

      this.getOptions()
    },

    shuffle: function (a) {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]]
      }
    },

    getOptions: function () {
      for (var i = 0; i < 3; i++) {
        var randomFlag = this.flags[Math.floor(Math.random() * this.flags.length)]
        this.options.push({
          'code': randomFlag.country_code,
          'name': randomFlag.country_name,
          'true': false
        })
      }

      this.shuffle(this.options)
    },

    checkFlag: function (code) {
      this.selected = true

      if (code === this.flag.country_code) {
        this.playSound('../../static/sounds/success.wav')
        this.status.win++
      } else {
        this.playSound('../../static/sounds/error.mp3')
        this.status.lose++
      }
    },

    playSound: function (sound) {
      new Audio(sound).play()
      return true
    }
  }
}
</script>

<style>
a {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}
</style>