<template>
  <div id="app" class="container">
    <div class="row align-self-center">
      <div class="col-6 offset-md-3">
        <h1>Flags of the World</h1>
        <div class="jumbotron">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
.jumbotron {
  padding: 2rem;
}
</style>